[submodule "puppet/modules/apache"]
	path = puppet/modules/apache
	url = git://github.com/puppetlabs/puppetlabs-apache.git
[submodule "puppet/modules/mysql"]
	path = puppet/modules/mysql
	url = git://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "puppet/modules/firewall"]
	path = puppet/modules/firewall
	url = git://github.com/puppetlabs/puppetlabs-firewall.git
[submodule "puppet/modules/pear"]
	path = puppet/modules/pear
	url = git@github.com:rafaelfelix/puppet-pear
